body{
  font-family: 'Roboto Slab', serif;
  color: black!important;
}
a{
  text-decoration: none;
  color: #21c3ff;
}
h1{
  text-align: center;
}
h3{
  text-decoration: underline;
}
p{
  padding-left: 2vw;
}
.wrapper{
  margin-left: 20vw;
  margin-right: 20vw;
}
.landing{
  color: black;
}
.code{
  font-family: monospace;
  padding: 5px;
  background-color: #EEEEEE;
  border: 1px solid #DDD;
  border-radius: 3px;
}
.acronym{
  background-color: rgb(89, 255, 130,.5);
}
.grid{
  display: grid;
  grid-template: 50% 50% / 50% auto;
}
